*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    color: #555;
    background-color: #ecf0f3;
}
main{
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    background-color: #ecf0f3;
}
.login-form{
    width: 300px;
    height: 500px;
    background-color:  #ecf0f3;
    border-radius: 30px;
    box-shadow: inset 10px 10px 15px #cbced1,inset -10px -10px 15px #ffffff;
    padding:50px 35px 35px 35px;
}
.logo{
    background-image: url("logo-dark.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    height: 100px;
    width: 100%;
    border-radius:10px;
    padding: 20px;
    margin: 0 auto;
    box-shadow:0px 0px 2px #5f5f5f,inset 8px 8px 16px #a7aaaf, inset -8px 16px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 50px;
    letter-spacing: .3px;
}
.sub-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 3px;
    color: rgb(54, 54, 54);
    font-weight: bold;
}
.fields{
    width: 100%;
    padding: 45px 5px 5px 5px;
}
.fields input{
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 10px;

}
.username, .password{
    margin-bottom: 20px;
border-radius: 20px;
box-shadow: inset 8px 8px 15px #cbced1,inset -8px -8px 15px #ffffff;

}
.sign-btn{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 15px #e5e8eb, inset -8px -8px 15px#73777b;

}
.float{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}